.playground{
  width: 440px;
  height: 440px;
  background: grey;
  border: 1px solid #999;
  padding: 5px;
}
.playbox {
   width: 100px;
   height: 100px;
   background: grey;
   border: 1px solid white;
   margin: 2px;
   display: inline-block;
 }

 .red {background: red;}
 .black {background: black;}
 .orange {background: orange;}
 .blue {background: blue;}
 .yellow {background: yellow;}
 .green {background: green;}
 .pink {background: pink;}
 .purple {background: purple;}